.container{
    border: 15px solid rgb(70, 157, 255);
    width: 30%;
    border-bottom: 10px;
    padding: 20px;
    margin-top: 1%;

}
    #imgUser{
        border-radius: 35%;
        border: 5px solid rgb(25, 126, 241);
        width: 200px;
    }

